doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title novels-reader options

    script(src="https://cdn.tailwindcss.com")

    link(href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
    link(rel="stylesheet" href="https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css")

    link(href=require('../sass/options.sass') rel='stylesheet')
    style.
      section.section .title {
        margin-top: 35px;
      }
      section.section .title.sub {
        font-size: 1.3rem;
        font-weight: bold;
      }
      p.mb {
        margin-bottom: 15px;
      }
      #novels-dictionary .novel-name-wrap {
        padding: 10px 14px;
        border-radius: 5px;
        background-color: #00d1b2;
        color: white;
        text-align: center;
        flex-grow: 1;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .message-body {
        padding: 1em;
      }
    script(src='../options.js')
  body
    #dictionary-modal.modal
      .modal-background
      .modal-content
        .message.is-primary
          .message-header
            p#dictionary-modal-label
            button.delete(aria-label='delete')
          .message-body
            textarea#dictionary-modal-textarea.textarea.dictionary(rows='20')
      button.modal-close.is-large

    section.hero.is-primary
      .hero-body
        .container
          h1.title
            | novels-reader -&nbsp;
          h2.subtitle
            | web page reader for *.syosetu.com and kakuyomu.jp

    #app

    section.section
      .container
        p.has-text-danger.is-size-5(style='font-weight: bold') ※設定後、小説ページに戻りページを再読み込みすると設定が反映されます。
        .columns
          .column
            form.options
              .columns
                .column.is-half
                  .title 音声設定
                  .subtitle(style='font-size: 1rem') ※最小値、最大値についてですがOS毎に挙動が違います…音声が正しく再生されない場合はより初期値に近い値を設定してみて下さい。
                  .columns
                    .column
                      .field
                        label.label 速度
                        .control
                          input.input(name='rate' type='number', step='0.01', min='0.1', max='10', placeholder='例: 1')
                        p.help 初期値: 1.0, 最小値: 0.1, 最大値: 10.0
                    .column
                      .field
                        label.label ピッチ
                        .control
                          input.input(name='pitch' type='number', step='0.01', min='0', max='2', placeholder='例: 1')
                        p.help 声の高さを設定出来ます。 初期値: 1.0, 最小値: 0, 最大値: 2.0
                    .column
                      .field
                        label.label 音量
                        .control
                          input.input(name='volume' type='number', step='0.01', min='0', max='1', placeholder='例: 1')
                        p.help 声の音量を設定出来ます。 初期値: 1.0, 最小値: 0, 最大値: 1.0
                  .columns
                    .column
                      .field
                        label.label ボイス設定
                        .control
                          .select
                            select(name='voiceType')
                              option(value='-1') 初期設定を使用する
                        p.help 読み上げに使うボイスを設定出来ます。※選択肢の「/」以降は対応言語です。

                  .title ハイライト設定
                  .columns
                    .column
                      .field
                        label.label テキストカラー
                        .control
                          input.input(name='textColor' type='text', placeholder='例: #fff')
                        p.help 初期値: #fff
                    .column
                      .field
                        label.label 背景カラー
                        .control
                          input.input(name='backgroundColor' type='text', placeholder='例: #498fd9')
                        p.help 初期値: #498fd9
                  .columns
                    .column
                      .field
                        .control
                          label.checkbox
                            input(name='autoScroll' type='checkbox')
                            b.ml-2 再生箇所に自動でスクロールする

                .column.is-half
                  .title 読み上げ文章設定
                  .columns
                    .column
                      .field
                        .control
                          label.checkbox
                            input(name='title' type='checkbox')
                            |  題名
                          br
                          label.checkbox
                            input(name='foreword' type='checkbox')
                            |  前書き
                          br
                          label.checkbox
                            input(name='body' type='checkbox')
                            |  本文
                          br
                          label.checkbox
                            input(name='afterword' type='checkbox')
                            |  後書き

                  .title 自動再生設定
                  .columns
                    .column
                      .field
                        label.checkbox
                          input(name='autoPlay' type='checkbox')
                          |  自動で再生する
                        br
                        label.checkbox
                          input(name='autoMoveNext' type='checkbox')
                          |  「次の話」がある場合、自動で移動する
        hr
        .columns
          .column
            .title ルビ辞書設定
        .columns
          .column.is-half
            .content
              p 対象文字を設定されたルビで読み替える辞書を設定出来ます。「ルビ対象文字::ルビ」のフォーマットで設定して下さい。複数設定する場合は下記の様に改行で区切って下さい。
              p
                b ※ルビの優先度は「無視するルビ ＞ 小説ページのルビ ＞ ユーザー辞書 ＞ 小説別辞書」となっています。
              pre
                | // ルビ対象文字::ルビ
                br
                | 本気::マジ
                br
                | 強敵::友
                br
                br
                | // 先頭に「//」を付ける事で、その行全てをコメントにします。
                | // ルビ対象文字には正規表現を使う事が出来ます。
                br
                | // 下記の例は「*」のみの文を空白で読み替えます。
                br
                | ^\*+$::
          .column.is-half
            .title.sub(style='margin-top: 0px') ユーザー辞書
            textarea.textarea.dictionary(data-id='user' data-domain='novels-reader')
            p(style='margin:10px 0px 10px')
              b 無視するルビ（正規表現）
            .content
              pre
                | 強調表現等で使わるルビを無視する為の設定を、正規表現で記述出来ます。
                br
                | 例：「^・+$」を設定すると「・」のみのルビを無視します。
              input.input.dictionary(data-id='userIgnoreRubies' data-domain='novels-reader')

        .columns
          .column
            .title 小説別辞書
            form.options
              .columns
                .column
                  .field
                    .control
                      label.checkbox
                        input(name='autoSaveDictionary' type='checkbox')
                        b.ml-2 小説のルビを自動で辞書に登録する
            .columns
              .column
                p 下記のボタンをクリックする事で、小説別辞書を編集する事が出来ます。小説別辞書は、この拡張機能を有効にした状態で、各小説ページを開くと自動で作成されます。

            #novels-dictionary.columns.is-multiline

        hr

        .columns
          .column
            .title 各種データのエクスポート（書き出し）とインポート（読み込み）
            #export-panel.panel.is-info
              .panel-heading エクスポート
              .panel-block.px-4.py-4
                .columns
                  .column
                    p.mb-3
                      | エクスポートするデータにチェックを入れて、「データをクリップボードにコピー」ボタンを押して下さい。
                      br
                      | データ(JSON形式)がクリップボードにコピーされるので、それをどこかに保存し、インポートしたい側のオプションページでインポートを実行して下さい。
                    .control
                      label.checkbox
                        input.no-option(name='options' type='checkbox')
                        b オプション設定（音声設定・ハイライト設定・読み上げ文章設定・自動再生設定）
                      br
                      label.checkbox
                        input.no-option(name='dictionaries' type='checkbox')
                        b 辞書設定（ユーザー辞書・無視するルビ・小説別辞書）
                    .button.is-info.mt-4 データをクリップボードにコピー

            #import-panel.panel.is-warning
              .panel-heading インポート
              .panel-block.px-4.py-4
                .columns
                  .column
                    p
                      | 下記のテキストエリアにエクスポートしたデータを貼り付けて、「データをインポートする」ボタンを押して下さい。
                      br
                      | インポート後にオプションページが自動更新されます。
                    b.has-text-danger
                      | ※既存のデータ（既存のオプションや小説別辞書等）がある場合は上書きされるので、ご注意下さい。
                      br
                      | ※ボイス設定に関してですが「エクスポートしたOSと違うOSにインポートする場合」はボイス名/対応言語が変わる可能性があるので、インポート後は必ず確認するようにして下さい。
                    .control.mt-3
                      label.checkbox
                        input.no-option(name='newRubiesOnly' type='checkbox')
                        b ユーザー辞書・小説別辞書はデータを残し、既存の辞書に無いルビのみをインポートする

                    textarea.textarea.mt-4(placeholder='ここにエクスポートしたデータを貼り付けて下さい')
                    .button.is-warning.mt-4 データをインポートする

    script(src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js")