manifest_version: 2
name: 'novels-reader'
version: '1.5.0'

description: 'Webpage reader for *.syosetu.com and kakuyomu.jp'

content_scripts: [
  matches: [
    'http://ncode.syosetu.com/*', 'https://ncode.syosetu.com/*', 'http://novel18.syosetu.com/*', 'https://novel18.syosetu.com/*'
    'https://kakuyomu.jp/*'
  ]
  run_at: 'document_end'
  js: ['content.js']
]

background:
  scripts: ['background.js']

permissions: ['tabs']

options_page: 'html/options.html'

content_security_policy: "script-src 'self' 'unsafe-eval' https://cdn.tailwindcss.com https://unpkg.com; object-src 'self'"