manifest_version: 2
name: 'novels-reader'
version: '2.0.0'

description: 'Web page reader for [ncode.syosetu.com, novel18.syosetu.com, kakuyomu.jp]'

content_scripts: [
  matches: [
    'http://ncode.syosetu.com/*/*', 'https://ncode.syosetu.com/*/*',
    'http://novel18.syosetu.com/*/*', 'https://novel18.syosetu.com/*/*',
    'https://kakuyomu.jp/works/*',
    'file:///*', '*://*/storage/*' # local files: pc and android. FIXME: Android用のやつだけど、何故か「content://」を指定するとマニフェストエラーが出るので「パスにstorageがあれば」の指定にして、analyzerの初期化の所で確認する様にしている…
  ]
  run_at: 'document_end'
  js: ['content.js']
]

background:
  scripts: ['background.js']

permissions: ['tabs']

options_page: 'html/options.html'

content_security_policy: "script-src 'self' 'unsafe-eval' https://cdn.tailwindcss.com https://unpkg.com; object-src 'self'"